# Temperature Analysis : Bonus Part 1

In [1]:
import pandas as pd
from datetime import datetime as dt

In [5]:
# "tobs" is "temperature observations"
tbdf = pd.read_csv("C:/Users/chadi/Desktop/sqlalchemy-challenge-main/sqlalchemy-challenge-main/Resources/hawaii_measurements.csv")
tbdf.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
# Convert the date column format from string to datetime
tbdf['date'] = pd.to_datetime(tbdf.date)
tbdf.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [8]:
# Set the date column as the DataFrame index
tbdf.set_index('date', inplace=True)
tbdf.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [9]:
# Drop the date column
df_drop = tbdf.reset_index(drop=True)
df_drop.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [10]:
from scipy import stats

In [12]:
# Filter data for desired months
jun = df[df.index.month == 6]
dec = df[df.index.month == 12]

In [13]:
# Identify the average temperature for June
jun_avg = jun['tobs'].mean()
jun_avg

74.94411764705882

In [14]:
# Identify the average temperature for December
dec_avg = dec['tobs'].mean()
dec_avg

71.04152933421226

In [15]:
# Create collections of temperature data
jun_temp = jun['tobs']
dec_temp = dec['tobs']

In [17]:
# Run unpaired t-test
stats.ttest_ind(jun_temp, dec_temp, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

The unpaired t-test is the most relevant in our case as we are working with 2 seperate months. Therefore, based on the pvalue reached, which is smaller than 0.05, there is a great difference between June data and December data